# Nested GIT Repository folders to ignore
clients/
common/common/
common/help/
common/rules/
common/messaging/
services/
test/
../database/
../database-crossriver/
../database-jigawa/
../database-kaduna/
../database-kano/
../database-kogi/
../database-ondo/
../database-katsina/
../database-anambra/


# Identifies the subfolders and files to ignore from the 
# Subfolders to ignore
target/
logs/
wsdl/

# Files to ignore 
catalog.xml
Thumbs.db
thumbs.db
*.pdf
*.log
*.backup
msg.txt



